.header {
    height: 40vh; 
    margin: 2vh auto; 
    background-image: url('/header_img.png');
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 1.5vh; 
    margin-top: 35vh; 
    max-width: 70%; 
    bottom: 10%;
    left: 5vw; 
    animation: fadeIn 3s;
}

.header-contents h2 {
    font-weight: 300;
    color: black;
    font-size: max(4vh, 30px); 
}

.header-contents p {
    color: black;
    font-size: max(1.5vh, 14px); 
    font-weight: bold; 
}

.header-contents button {
    border: none;
    color: black;
    background-color: white;
    font-weight: 500;
    padding: 1vh 3vh; 
    font-size: max(1.5vh, 13px); 
    border-radius: 50px;
}

@media (max-width: 1050px) {
    .header-contents {
        /* max-width: 60%;  */
    }
}

@media (max-width: 750px) {
    .header-contents {
        /* max-width: 80%;  */
    }
    .header-contents p {
        display: none; 
    }
    .header-contents button {
        /* padding: 2vh 5vh;  */
    }
}
