.header {
    height: 34vw;
    margin: 30px auto;
    background-image: url('/header_img.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5vw;
    margin-top: 500px;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2 {
    font-weight: 300;
    color: black;
    font-size: max(6.5vw, 50px);
}

.header-contents p {
    color: rgb(0, 0, 0);
    font-size: 2vw;
    font-style: bold;
}

.header-contents button {
    border: none;
    color: rgb(0, 0, 0);
    background-color: white;
    font-weight: 500;
    padding: 1vw 2.3vw;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}


@media screen and (max-width: 768px) {
    .header-contents {
        max-width: 80%;
        left: 10%;
    }
}

@media screen and (max-width: 480px) {
    .header-contents {
        max-width: 90%;
        left: 5%;
    }
    .header-contents h2 {
        font-size: 24px;
    }
    .header-contents p {
        font-size: 14px;
    }
    .header-contents button {
        font-size: 12px;
    }
}
